<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProgVendas - Sistema de Vendas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body>
    <header>
        <h1>Bem-vindo ao ProgVendas</h1>       
        <form id="add-product-form">
            <input type="text" id="nome" placeholder="Nome do Produto" required>
            <input type="number" id="preco" placeholder="Preço" required>
            <input type="number" id="quantidade" placeholder="Quantidade" required>
            <button type="submit">Adicionar Produto</button>
        </form>

        <h2>Vender Produto</h2>
        <form id="sell-product-form">
            <input type="number" id="produto-id" placeholder="ID do Produto" required>
            <input type="number" id="quantidade-vendida" placeholder="Quantidade" required>
            <button type="submit">Vender Produto</button>
        </form>


        <h2>Alterar Produto</h2>
        <form id="alter-product-form">
            <input type="number" id="alter-produto-id" placeholder="ID do Produto" required>
            <input type="text" id="alter-nome" placeholder="Novo Nome">
            <input type="number" id="alter-preco" placeholder="Novo Preço">
            <input type="number" id="alter-quantidade" placeholder="Nova Quantidade">
            <button type="submit">Alterar Produto</button>
        </form>
        <h2>Substituir Produto</h2>
        <form id="substitute-product-form">
            <input type="number" id="substitute-produto-id" placeholder="ID do Produto" required>
            <input type="text" id="substitute-nome" placeholder="Novo Nome" required>
            <button type="submit">Substituir Produto</button>
        </form>

        <h2>Balancete Financeiro</h2>
        <label for="start-date">Data Início:</label>
        <input type="date" id="start-date">
        <label for="end-date">Data Fim:</label>
        <input type="date" id="end-date">
        <button id="generate-financial-report">Gerar Balancete</button>
        <!-- Botão para baixar o balancete -->
        <button onclick="baixarBalancete()">Baixar Balancete em PDF</button>
        <button id="generate-report">Gerar Relatório de Vendas</button>
        <ul id="report-list"></ul>

        
        <div id="financial-report"></div>
        
        <h2>Produtos em Estoque</h2>
        <ul id="produtos-list"></ul>
        
  
    </header>  

    <script src="./static/js/script.js"></script>
    
</body>
</html>
